section article {
  background-color: rgba(10, 10, 35, 0.5);
}
@font-face {
  font-family: "GreaterTheory";
  src: url("../fonts/GreaterTheory.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.input-container {
  width: 75%;
  height: 80%;
}
.btn {
  margin-top: 16px;
}
