p {
  color: #5557bb;
}
.article {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgba(10, 10, 35, 0.5);
}
.block__login {
  background-color: aliceblue;
  width: 80%;
  min-height: 80%;
  display: flex;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.3));
}
.login__left {
  width: 40%;
  height: auto;
  background-color: #20215b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__left img {
  width: 256px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2));
}
.login__right {
  padding: 5%;
  width: 60%;
  height: auto;
  background-color: #040c2c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.login__right h1 {
  font-size: 48px;
  color: #5557bb;
}
.centralized {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 70%;
}
#LGPD {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  justify-content: center;
  width: 95%;
  text-align: center;
  color: #bbbbbb;
}
#button {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
#inputs {
  flex-direction: column;
  display: flex;
}
#inputs input {
  margin-top: 12px;
  margin-bottom: 12px;
}
#options {
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
#options p {
  cursor: pointer;
}
#options__width {
  width: 100%;
}
