section article {
  background-color: rgba(10, 10, 35, 0.5);
}
.input-container {
  width: 75%;
  height: 80%;
}
.btn {
  margin-top: 16px;
}
#confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  margin: 6px;
}
