@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

* {
  color: #f9f9f9;
  margin: 0;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  scrollbar-color: #d95aec #0a0a23;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0a0a23; /* cor de fundo */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #d95aec, #f84f91);
  border-radius: 4px;
}
section {
  background-image: url(./assets/backgrounds/kalio_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-color: #20215b;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* INPUT */

.input-container {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}
.input-field {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  background-color: #e0e0e0;
  color: #333;
  font-size: 1.1em;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-field::placeholder {
  color: #888;
  opacity: 1;
}
.input-field:focus {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5),
    inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 128px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  background: transparent;
}
.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; /* para não atrapalhar cliques */
  background: linear-gradient(
    to bottom,
    rgba(10, 10, 35, 0.8),
    rgba(10, 10, 35, 0)
  );
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: -1;
}
.navbar.scrolled::before {
  opacity: 1;
}
.navbar img {
  width: 200px;
}
.navbar .logo {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2));
  margin-left: 64px;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar li {
  margin-left: 16px;
  margin-right: 16px;
}
.navbar_list {
  display: flex;
  margin-right: 72px;
  height: 100%;
}
.btn {
  padding: 16px 32px;
  border: 2px solid #46329e;
  border-radius: 4px;
  background: transparent;
  color: #f9f9f9;
  font-family: "Aldrich", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s, color 0.3s;

  display: flex;
  align-items: center;
}
.btn:hover {
  background: #46329e;
}
.login_icon img {
  width: 36px;
  margin-right: 8px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #464892;
}
footer div {
  color: #7174c4;
}
